.speedButton {
    position: relative;
    padding: 0px;
    height: 90px;
    width: 90px;
    line-height: 90px;      /*so the text is in the middle of the circle*/
    background-color: #929292; 
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    font-size:30px;
    transition: background-color 0.3s ease;
    text-align: center;
    box-shadow: 0 2px 4px rgb(34, 34, 34);
    border-style: solid;
    border-width: 5px;
  }
  
  .speedButton:hover {
    background-color: #b6b6b6; 
  }

  .speedButton:active {
    background-color: #b6b6b6; 
  }
