.customButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 90px;
  width: 90px;
  margin-bottom: 30px;
  line-height: 90px; /* So the text is in the middle of the circle */
  background-color: #1E88E5; 
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  text-align: center;
  box-shadow: 0 2px 4px rgb(34, 34, 34);
}

.customButton.disabled{
  background-color: dimgrey;
  color: linen;
  opacity: 1;
  cursor: default;
}

.customButton.disabled:hover{
  background-color: dimgrey;
}

.customButton:hover {
  background-color: #42A5F5; 
}
