.conditionButton{
    cursor: pointer;
    padding: 0px;
    margin: 5px;
    border-radius: 50%;    
}

.conditionBtnFlex{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: 0;
    right: 0;
    gap: 5px;
}