.conditionButton{
    cursor: pointer;
    padding: 0px;
    margin: 5px;
}

.conditionBtnFlex{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }