.mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between ;
  flex-direction: column;
  height: 100vh;
}

.modifiers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.infoContainer{
  font-weight: bold;
  font-size: 18px;
  opacity: 0.5;
  position: absolute;
  left: 20px;
  bottom: 20px;
  height: min-content;
}

.bm-burger-button {
  display: none ; /* Hide the burger button */
}
.mobileMenu {
  display: none ; /* Hide the menu */
}

/* When phone is in portrait mode, display a message that says to rotate into landscape mode*/
@media only screen and (max-width: 950px) and (orientation: portrait) {
  .rotate-message {
    display: block;
    position: fixed;
    text-align: center;
    padding-top: 100%;
    width: 100%;
    height: 100%;
    background: radial-gradient(#c5eafc, #66bde6);
    color: rgb(85, 85, 85);
    z-index: 9999;
  }
  /* Hide the rest of the components */
  .mainContainer,
  .roadBody {
    display: none; 
  }
}

/* Hide the message if in landscape mode or larger screens */
@media only screen and (min-width: 950px), (orientation: landscape) {
  .rotate-message {
    display: none;
  }
}

/*Phone (or other smaller device) in landscape mode*/
@media only screen and (max-width: 950px) and (orientation: landscape) {
  .rotate-message {
    display: none; /* Hide the rotation message  */
  }
  .popup-overlay.welcomePopup {
    display: none;
  }

  .modifiers {
    display: none;;
  }
  .infoContainer{
    position: absolute;
    top: 10px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .bm-burger-button {
    display: block; /* Ensure the burger button is visible */
  }
  .mobileMenu {
    display: block ; /* Ensure the menu is visible */
  }
}