.roadBody { 
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 90vh; 
  margin: 0; 
}
/*Drawing a road on the screen*/
.road {
    display:flex;
    flex-direction: row;
    justify-content: center;
    z-index: -1;
    width: 90vw;
    position: absolute;
    height: 170px;
    background-color: gray;
    overflow: hidden;
}
/*Adding lines on the road*/
.lines{
    position: absolute;
    top: 40%;    
    width: 999999999vw;
    height: 8px;
    background: linear-gradient(90deg, #fff 0%, #fff 70%, gray 70%, gray 100%);
    background-size: 120px;
}