/*Drawing a road on the screen using the div from road.tsx*/
.road {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30vh;
    top: 55%;
    z-index: -1;
    width: 100vw;
    height: 100px;
    background-color: gray;
    overflow: hidden;
}
/*Adding lines on the road*/
.lines{
    display: flex;
    flex-direction: column;
    align-self: center;
    left: 0;
    width: 150vw;
    height: 10px;
    background: linear-gradient(90deg, #fff 0%, #fff 70%, gray 70%, gray 100%);
    background-size: 120px;
}



